In [2]:
import pandas as pd

df = pd.read_csv('csvlist.csv', usecols = ['Number','Title', 'Statement']) 
display(df)

    Number            Title Statement
0     1000      Feel Boring      bool
1     1100             Play      bool
2     1110       Play Cards      bool
3     1120  Play Basketball      bool
4     1130   Play Videogame      bool
5     1131       Open Steam      bool
6     2000      Feel Hungry      bool
7     2100              Eat      bool
8     2110        McDonalds      bool
9     2120      Nightmarket      bool
10    2130             Dirt      bool

In [ ]:
import io