In [9]:
import pandas as pd

df = pd.read_csv(r"D:\Code\TFBOKRMAP\okrlist\rdtest111c.csv", usecols = ['Number','Title', 'statement']) 
df.head()

   Number            Title statement
0    1000     Feel boring.   boolean
1    1100             Play   boolean
2    1110       Play Cards   boolean
3    1120  Play Basketball   boolean
4    1130  Play Video Game   boolean

In [29]:
import networkx as nx

G = nx.Graph()
#Setting Nodes and Node Attributes 
G.add_nodes_from(df['Number'])
#print(G.nodes)
for index, row in df.iterrows():
    G.nodes[row['Number']]['attr'] = row['Title']
print(G.nodes(data=True))

#Setting Edges and Edge Attributes

[(1000, {'attr': 'Feel boring.'}), (1100, {'attr': 'Play'}), (1110, {'attr': 'Play Cards'}), (1120, {'attr': 'Play Basketball'}), (1130, {'attr': 'Play Video Game'}), (1131, {'attr': 'Open Steam'}), (2000, {'attr': 'Feel Hungry'}), (2100, {'attr': 'Eat'}), (2110, {'attr': 'McDonalds'}), (2120, {'attr': 'Nightmarket'}), (2130, {'attr': 'Dirt'})]