In [2]:
import pandas as pd

df = pd.read_csv(r"D:\Code\TFBOKRMAP\okrlist\rdtest111c.csv", usecols = ['Number','Title', 'statement']) 
df.head()

   Number            Title statement
0    1000     Feel boring.   boolean
1    1100             Play   boolean
2    1110       Play Cards   boolean
3    1120  Play Basketball   boolean
4    1130  Play Video Game   boolean

In [ ]:
import networkx as nx

G = nx.Graph()
#Setting Nodes and Node Attributes 
G.add_nodes_from(df['Number'])
print(G.nodes)
for index, row in df.iterrows():
    G.nodes[row['Number']]['attr'] = row['Title']
print(G.nodes(data=True))

#Setting Edges and Edge Attributes
#Build Edge List

A = [i for i in range(1000,5001) if i%1000==0]
B = [i for i in range(0, 501) if i%100==0]
C = [i for i in range(0, 51) if i%10==0]
D = [i for i in range(0,10)]
E = [j+k+m+n for j in A for k in B for m in C for n in D]

#Join Conditions to List
#if k+m ==0: m+n =0

print(E)