In [1]:
import pandas as pd

df = pd.read_csv('csvlist.csv', usecols = ['Number','Title', 'Statement']) 
display(df)

    Number            Title Statement
0     1000      Feel Boring      bool
1     1100             Play      bool
2     1110       Play Cards      bool
3     1120  Play Basketball      bool
4     1130   Play Videogame      bool
5     1131       Open Steam      bool
6     2000      Feel Hungry      bool
7     2100              Eat      bool
8     2110        McDonalds      bool
9     2120      Nightmarket      bool
10    2130             Dirt      bool

In [2]:
import networkx as nx

G = nx.Graph()
#Setting Nodes and Node Attributes 
G.add_nodes_from(df['Number'])
print(G.nodes)
for index, row in df.iterrows():
    G.nodes[row['Number']]['attr'] = row['Title']
print(G.nodes(data=True))

[1000, 1100, 1110, 1120, 1130, 1131, 2000, 2100, 2110, 2120, 2130]
[(1000, {'attr': 'Feel Boring'}), (1100, {'attr': 'Play'}), (1110, {'attr': 'Play Cards'}), (1120, {'attr': 'Play Basketball'}), (1130, {'attr': 'Play Videogame'}), (1131, {'attr': 'Open Steam'}), (2000, {'attr': 'Feel Hungry'}), (2100, {'attr': 'Eat'}), (2110, {'attr': 'McDonalds'}), (2120, {'attr': 'Nightmarket'}), (2130, {'attr': 'Dirt'})]

In [ ]:
#Setting Edges and Edge Attributes
#Build Edge List
import pprint

edge_list=[]

for i in range(1000,5901):
  a=i//1000
  b=(i%1000)//100
  c=(i%100)//10
  d=i%10
  if b!=0:
    if c!=0:
      edge_list.append(i)
    else:
      if d==0:
        edge_list.append(i)
  else:
    if c==0 and d==0:
      edge_list.append(i)

pprint.pprint(edge_list, depth=1, width=10000)